body{
    font-family: "Times New Roman", sans-serif;
    color: darkcyan;
    text-align: justify;
    padding: 300px;
}
nav {
    position: fixed;
    background-color: blue;
    width: 100%;
    margin-top: -50px;
}

.list-nav{
    display: inline-block;
    list-style-type: none;
    padding: 10;
    margin: 0;
}
