body {
    text-align: center;
    font-family: 'Times New Roman', sans-serif; 
    background-color: rgb(228, 225, 94);
}

h1 {
    color: blue; 
    font-size: 40px;
}

p {
    color: green;
    text-align: justify;
    margin: 0 auto;
    width: 80%;
    font-size: 30px
}
